* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
:root {
  --bg-color: #ffffff;
  --text-color: #111111;
  --link-color: #007acc;
}

[data-theme="dark"] {
  --bg-color: #111111;
  --text-color: #eeeeee;
  --link-color: #66aaff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

a {
  color: var(--link-color);
}

/* Button styling (optional) */
#theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 50%;
  transition: background 0.2s;
}



#theme-toggle img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

#theme-toggle:hover img {
  transform: rotate(20deg);
}

/* body {

    background-color: #f9f9f7;
    color: #212121;
} */

h1 {
    font-size: 60px;
    margin-bottom: 1rem;
}

h2 {
    font-size: 40px;
    margin:0.5rem 0;
}
h3 {
    font-size: 24px;
     margin: 0 0 0.5rem 0;
}
header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header li {
    text-align: right;
}
/* p,
li,
a {
    font-size: 20px;
    text-decoration: none;
    color: #212121;
} */
hr {
    margin: 2rem 0;
}
a:hover {
    transition: 0.5s;
    color: rgb(76, 117, 119);
}
ul {
    list-style: none;
}
.middle-list {
    list-style: armenian;
    list-style-position: inside;
    padding: 1rem 0;
}
li {
    margin-bottom: 0.5rem;
}
p {
    margin: 5px 0;
}
main {
    margin: auto;
    padding: 2rem 0;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: space-between;

}
main img {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
    height: auto;
}

.indent {
  
    margin: 20px 0;
}
.image {
    height: 360px;
    background-image: url(../images/lotus.jpg);   
}
.image img {
    width: 200px;
}
.imagem-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.imagem-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

article img {
    margin: 1rem 0;
}
